#/*
#<!#CR>
#************************************************************************************************************************
#*                                                    Copyrigths ©                                                      *
#* -------------------------------------------------------------------------------------------------------------------- *
#*          Authors Names    > PowerChaos                                                                               *
#*          Company Name     > VPS Data                                                                                 *
#*          Company Email    > info@vpsdata.be                                                                          *
#*          Company Websites > https://vpsdata.be                                                                       *
#*                             https://vpsdata.shop                                                                     *
#*          Company Socials  > https://facebook.com/vpsdata                                                             *
#*                             https://twitter.com/powerchaos                                                           *
#*                             https://instagram.com/vpsdata                                                            *
#* -------------------------------------------------------------------------------------------------------------------- *
#*                                           File and License Informations                                              *
#* -------------------------------------------------------------------------------------------------------------------- *
#*          File Name        > <!#FN> .htaccess </#FN>                                                                  
#*          File Birth       > <!#FB> 2021/09/18 00:38:17.344 </#FB>                                                    *
#*          File Mod         > <!#FT> 2021/09/19 21:27:42.311 </#FT>                                                    *
#*          License          > <!#LT> CC-BY-NC-ND-4.0 </#LT>                                                            
#*                             <!#LU> https://spdx.org/licenses/CC-BY-NC-ND-4.0.html </#LU>                             
#*                             <!#LD> This file may not be redistributed in whole or significant part. </#LD>           
#*          File Version     > <!#FV> 2.0.0 </#FV>                                                                      
#*                                                                                                                      *
#</#CR>
#*/

RewriteEngine On
Options +FollowSymLinks
Options -Indexes
# /* force redirect to https */
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{SERVER_NAME}/$1 [R=301,L]
# /* End Force HTTPS */

RewriteRule ^logout$ index.php?perm=logout
RewriteRule ^lang/([a-zA-Z0-9_-]+)$ index.php?perm=lang&file=$1
#RewriteRule ^dashboard/([a-zA-Z0-9_-]+)$ index.php?perm=dashboard&file=$1
RewriteRule ^a/([a-zA-Z0-9_-]+)$ index.php?perm=admin&file=$1
RewriteRule ^s/([a-zA-Z0-9_-]+)$ index.php?perm=staff&file=$1
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?file=$1
RewriteRule ^t/(.*)$ index.php?file=test&$1
RewriteRule ^bugs/([0-9]+)/([a-zA-Z0-9_-]+).html$ index.php?file=bugs&bug=$1
RewriteRule ^forum/([0-9]+)/([a-zA-Z0-9_-]+).html$ index.php?file=forum&forum=$1
RewriteRule ^faq/([0-9]+)/([a-zA-Z0-9_-]+).html$ index.php?file=faq&faq=$1
RewriteRule ^reset/([a-zA-Z0-9_-]{12,18})$ index.php?file=reset&code=$1
#ajax callback fix
RewriteRule ^x/([a-zA-Z0-9_-]+)$ index.php?perm=ajax&file=$1
#seo rewrite
RewriteRule ^([a-zA-Z0-9_-]+).html$ index.php?file=merk&merk=$1
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+).html$ index.php?file=product&merk=$1&product=$2
#base rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . / [L,R=302]
#website lock
RewriteRule ^ajax/([a-zA-Z0-9_-]+)$ index.php?file=$1
RewriteRule ^inc/([a-zA-Z0-9_-]+)$ index.php?file=$1
RewriteRule ^pages/([a-zA-Z0-9_-]+)$ index.php?file=$1
RewriteRule ^template/([a-zA-Z0-9_-]+)$ index.php?file=$1

