#/*
#<!#CR>
#************************************************************************************************************************
#*                                                    Copyrigths ©                                                      *
#* -------------------------------------------------------------------------------------------------------------------- *
#*          Authors Names    > PowerChaos                                                                               *
#*          Company Name     > VPS Data                                                                                 *
#*          Company Email    > info@vpsdata.be                                                                          *
#*          Company Websites > https://vpsdata.be                                                                       *
#*                             https://vpsdata.shop                                                                     *
#*          Company Socials  > https://facebook.com/vpsdata                                                             *
#*                             https://twitter.com/powerchaos                                                           *
#*                             https://instagram.com/vpsdata                                                            *
#* -------------------------------------------------------------------------------------------------------------------- *
#*                                           File and License Informations                                              *
#* -------------------------------------------------------------------------------------------------------------------- *
#*          File Name        > <!#FN> .htaccess </#FN>                                                                  
#*          File Birth       > <!#FB> 2021/09/18 00:38:17.344 </#FB>                                                    *
#*          File Mod         > <!#FT> 2021/09/19 21:27:42.311 </#FT>                                                    *
#*          License          > <!#LT> CC-BY-NC-ND-4.0 </#LT>                                                            
#*                             <!#LU> https://spdx.org/licenses/CC-BY-NC-ND-4.0.html </#LU>                             
#*                             <!#LD> This file may not be redistributed in whole or significant part. </#LD>           
#*          File Version     > <!#FV> 0.0.1 </#FV>                                                                      
#*                                                                                                                      *
#</#CR>
#*/




RewriteEngine On

# /* force redirect to https */
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]
# /* End Force HTTPS */

Options +FollowSymLinks
Options -Indexes
RewriteRule ^logout$ index.php?action=logout
RewriteRule ^sessionexpired$ index.php?session=expired
RewriteRule ^a/([a-zA-Z0-9_-]+)$ index.php?admin=$1
RewriteRule ^s/([a-zA-Z0-9_-]+)$ index.php?staff=$1

#seo rewrite
RewriteRule ^([a-zA-Z0-9_-]+).html$ index.php?page=merk&merk=$1
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+).html$ index.php?page=product&product=$2

#base rewrite
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?page=$1
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . / [L,R=302]

